<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <title>To Do app</title>
</head>
<body>
    
<form action="" method="POST">
    {% csrf_token %}
    <p>Update Todo : {{form.text}} </p>
    <p>Mark to Complete : {{form.complete}} <input type="submit" value="Update"> </p>


</form>

</body>
</html>